@import "tailwindcss" source("../../templates/**/*.html");
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";
@plugin "daisyui" {
  themes: light --default;
  exclude: properties, radialprogress;
}

@layer base {
  body {
    @apply antialiased;
    font-family: "Plus Jakarta Sans", var(--font-sans);
  }

  .text-balance {
    text-wrap: balance;
  }
}
