body * {
  font-weight: 400;
  line-height: 1.5;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2rem auto;
}

.post .img-link {
  margin: 0.4rem;
  width: 80%;
  display: flex;
  align-items: center;
}

.post img {
  object-fit: cover;
  border-radius: 3%;
}

.post-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}

.post-info-container h2 {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.author-name {
  font-weight: bold;
}

.date {
  color: #6C757D;
}


.post * {
  font-family: "Merriweather", serif;
}

.post-title {
  font-size: 2rem;
}

.post-intro {
  margin: 0.5rem;
}

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post-info span {
  margin: 0 0.5rem;
}

.post a {
  color: black;
  text-decoration: none;
}

.post a:hover {
  text-decoration: none;
}

hr {
  background-color: #989898;
  height: 1px;
  border: none;
  margin-top: 0;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .post {
    flex-direction: row;
    justify-content: stretch;
  }

  .post .img-link {
    width: 15rem;
    height: 10rem;
  }
}
