/* Multiline inner code block ```code``` */
.codehilite pre {
  color: white;
  font-size: 1.1rem;
  font-weight: 530;
  padding: 1.1em 0.6em;
}

code {
  font-family: "B612 Mono", monospace;
  padding: 0.1em 0.1em;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}

/* Override the above */
.codehilite code {
  font-family: "Inconsolata", monospace;
  padding: 0;
  border: none;
  border-radius: 0;
}

.codehilite * {
  font-family: "Inconsolata", monospace;
}

